body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 5px;
}

.produto h2 {
    font-size: 18px;
    color: #333;
}

.produto p {
    font-size: 16px;
    color: #666;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
