body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    display: flex;
    text-align: center;
    padding: 20px 0;
}

.header-h1 {
    text-align: left;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ae05ae;
}

.login-button button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1rem;
}


main {
    padding: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 80%;
    max-height: 70%;
    border-radius: 5px;
}

.produto h2 {
    font-size: 18px;
    color: #333;
}

.produto p {
    font-size: 16px;
    color: #666;
}

button .addcart {
    margin-top: 80px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    justify-content: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
    visibility: visible;
    width: 100%;
}
.nav-link:hover {
    color: #fff;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f39c12;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #f39c12;
}
